<div class="new-home-sec">
  <div class="new-home-sec-row">
    <div class="new-home-sec-col1">
      <h1>{{ section.settings.id-head }}</h1>
      {{ section.settings.id-content }}
      <a href="{{ section.settings.id-btn-url }}">{{ section.settings.id-btn-text }}</a>
    </div>
    <div class="new-home-sec-col2">
      <img src=" {{ section.settings.id-img | img_url: 'master' }}" loading="lazy" width="100%" height="auto" />
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "new Banner",
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "id-head"
      },
      {
        "type": "richtext",
        "label": "Content",
        "id": "id-content"
      },
      {
        "type": "text",
        "label": "Button Text",
        "id": "id-btn-text"
      },
      {
        "type": "url",
        "label": "Button Link",
        "id": "id-btn-url"
      },
      {
        "type": "image_picker",
        "label": "Image",
        "id": "id-img"
      }
    ],
    "presets" : [
      {
        "name": "new Banner"
      }
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}